<%-- 
Name:
Author: 
Description: 
--%>
<%@ Template Language="C#" TargetLanguage="c#"  Debug="True" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="基本信息" Description="Table that the object is based on." %>
<%@ Property Name="ClassNamespace" Type="System.String" Category="基本信息" Default="Erp.Eam" Description="" %>
<%@ Property Name="Description" Type="System.String" Category="基本信息" Default="Erp.Eam" Description="" %>
<%@ Assembly Name="System.ComponentModel"  %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="TAF.Utility"  Path="d:\WorkStation\TAF\TAF.Utility\bin\Release"%>
<%@ Assembly Name="TAF.Business"  Path="d:\WorkStation\TAF\TAF.Business\bin\Release"%>
<%@ Assembly Src="Common.cs" %>
<%@ Import Namespace="TAF.Utility" %>  
<%@ Import Namespace="TAF" %>  
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="SchemaMapper" %>
<%@ Import Namespace="System" %> 
<%@ Import Namespace="System.Linq" %> 
<%@ Import Namespace="System.Reflection" %> 
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Map Name="SqlCSharp" Src="Sql-CSharp" Description="System to C# Type Map" %>
<%@ Map Name="DbDataReader" Src="DbType-DataReaderMethod" Description="DbType to DataReader Method Map" %>
<%@ Map Name="SqlNativeSqlDb" Src="SqlNativeType-SqlDbType" Description="SqlNativeType to SqlDbType Map" %>
<%@ Map Name="DbTypeCSharp" Src="DbType-CSharp" Description="DbType to CSharp Map" %>

// --------------------------------------------------------------------------------------------------------------------
// <copyright file="<%=Common.GetClassName(SourceTable)%>Views.cs" company="">
//   
// </copyright>
// <summary>
//   <%=Description%>
// </summary>
// --------------------------------------------------------------------------------------------------------------------

namespace <%=ClassNamespace %>.Models
{
    using System;

    using TAF.Core;

    /// <summary>
    /// 列表视图
    /// </summary>
    public class <%=Common.GetClassName(SourceTable)%>ListView : IEntityBase
    {
        public Guid Id
        {
            get; set;
        }
        
        <%foreach(var item in SourceTable.NonPrimaryKeyColumns.Where(r=>!Common.IsSystemProperty(r)).ToList()){ %>
        <%if(ColumnIsGuid(item)){ %>
        public string <%=item.Name.ReplaceLast("Id","")%>
        {
            get; set;
        }
        
        <%}else{ %>
        public <%=GetCSharpVariableType(item)%> <%=item.Name%>
        {
            get; set;
        }
        
        <%}} %>
    }
    
    /// <summary>
    /// 对象视图
    /// </summary>
    public class <%=Common.GetClassName(SourceTable)%>View : IEntityBase
    {
        public Guid Id
        {
            get; set;
        }
        
        <%foreach(var item in SourceTable.NonPrimaryKeyColumns.Where(r=>!Common.IsSystemProperty(r)).ToList()){ %>
        public <%=GetCSharpVariableType(item)%> <%=item.Name%>
        {
            get; set;
        }
        
        <%} %>
    }
}




<script runat="template">

    /// <summary>
    /// 获取C#类型
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    private  string GetCSharpVariableType(ColumnSchema column)
    {
        if (column.Name.EndsWith("TypeCode")) return column.Name;
        return DbTypeCSharp[column.DataType.ToString()];
    }


    /// <summary>
    /// 列是否是Guid
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    public  bool ColumnIsGuid(ColumnSchema column)
    {
       string type= GetCSharpVariableType(column) ;
        return type=="Guid" ;
    }


</script>