@{
    Layout = null;
}
<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 1.4
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>

    <meta name="description" content="Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon"/>


    <!--Basic Styles-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="#" rel="stylesheet"/>
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet"/>

    <!--Beyond styles-->
    <link id="beyond-link" href="~/assets/css/beyond.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/css/demo.min.css" rel="stylesheet"/>
    <link href="~/assets/css/typicons.min.css" rel="stylesheet"/>
    <link href="~/assets/css/animate.min.css" rel="stylesheet"/>
    <link href="~/assets/css/animate.min.css" rel="stylesheet"/>
    <link href="~/Assets/js/datetime/daterangepicker.css" rel="stylesheet"/>
    <link href="~/Assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link id="skin-link" href="#" rel="stylesheet" type="text/css"/>
    
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/assets/js/skins.min.js"></script>
</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!-- /Loading Container -->

@RenderBody()

<!--Basic Scripts-->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/Assets/js/validation/bootstrapValidator.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/lodash.min.js"></script>
<script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Assets/js/director.min.js"></script>
<script src="~/Assets/js/toastr/toastr.js"></script>
    <script src="~/Assets/js/select2/select2.js"></script>
<script src="~/Assets/js/modal.js"></script>
<script src="~/assets/js/beyond.js"></script>
    <script src="~/Assets/js/vue.js"></script>
    <script src="~/Assets/js/datetime/moment.js"></script>
    <script src="~/Assets/js/datetime/daterangepicker.js"></script>
    <script src="~/Assets/js/fuelux/spinbox/fuelux.spinbox.min.js"></script>
<!--Beyond Scripts-->

<!--Page Related Scripts-->
    @Html.Partial("_Templates")
</body>
@RenderSection("scripts", false)
<!-- /Body -->
</html>