<template id="addButton">
    <button type="button" class="btn btn-primary " v-on:click="newItem(title)"><i class="fa  fa-plus"></i> 新增</button>
</template>
<template id="searchButton">
    <button type="button" class="btn btn-danger " v-on:click="search(index,filter,model)"><i class="fa fa-search"></i> 搜索</button>
    <button type="button" class="btn" v-on:click="resetSearch()"><i class="fa fa-times"></i> 重置</button>
</template>
<template id="rowCommand">
    <button type="button" class="btn   edit" v-on:click="editItem(id,title) "><i class="fa fa-edit"></i> 编辑</button>
    <button type="button" class="btn btn-danger  " v-on:click="deleteItem(id,name) "><i class="fa fa-trash-o"></i> 删除</button>
</template>
<template id="formEdit">
    <div class="bootbox modal fade modal-primary in" id="addItemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{{ title }}</h4>
                    <div v-model="title"></div>
                </div>
                <div class="modal-body">
                    <form-body></form-body>
                    <div class="row" id="unknownError" style="display: none;">
                        <div class="col-md-12">
                            <div class="form-group  has-feedback has-error">
                                <div class="col-md-10 col-md-offset-2">
                                    <small class="help-block"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa   fa-mail-reply'></i>取消</button>
                    <button type="submit" class="btn btn-primary" v-on:click="saveItem()"><i class='fa    fa-floppy-o'></i>保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</template>
<template id="dialogDelete">
    <div class="bootbox modal fade modal-darkorange in" id="deleteItemDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">删除</h4>
                    <div v-model="title"></div>
                </div>
                <div class="modal-body">
                    <div class="bootbox-body">确认删除[{{name}}]么？</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa   fa-mail-reply"></i> 取消</button>
                    <button type="button" class="btn btn-danger" v-on:click="deleteItem()"><i class="fa   fa-trash-o"></i>删除</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="~/Scripts/templates.js"></script>
