<template id="addButton">
    <button type="button" class="btn btn-primary " v-on:click="newItem(title)"><i class="fa  fa-plus"></i> 新增</button>
</template>
<template id="searchCommand">
    <button type="button" class="btn " v-on:click="search()"><i class="fa fa-search"></i> 搜索</button>
    <button type="button" class="btn" v-on:click="resetSearch()"><i class="fa fa-times"></i> 重置</button>
</template>
<template id="rowCommand">
    <button type="button" class="btn   edit" v-on:click="editItem(id,title) "><i class="fa fa-edit"></i> 编辑</button>
    <button type="button" class="btn btn-danger  " v-on:click="deleteItem(id,name) "><i class="fa fa-trash-o"></i> 删除</button>
</template>
<template id="formEdit">
    <div class="bootbox modal fade modal-primary in" id="addItemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{{ title }}</h4>
                    <div v-model="title"></div>
                </div>
                <div class="modal-body">
                    <form-body></form-body>
                    <div class="row" id="unknownError" style="display: none;">
                        <div class="col-md-12">
                            <div class="form-group  has-feedback has-error">
                                <div class="col-md-10 col-md-offset-2">
                                    <small class="help-block"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa   fa-mail-reply'></i>取消</button>
                    <button type="submit" class="btn btn-primary" v-on:click="saveItem()"><i class='fa    fa-floppy-o'></i>保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</template>
<template id="dialogDelete">
    <div class="bootbox modal fade modal-darkorange in" id="deleteItemDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">删除</h4>
                    <div v-model="title"></div>
                </div>
                <div class="modal-body">
                    <div class="bootbox-body">确认删除[{{name}}]么？</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa   fa-mail-reply"></i> 取消</button>
                    <button type="button" class="btn btn-danger" v-on:click="deleteItem()"><i class="fa   fa-trash-o"></i>删除</button>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="tableFoot">
    <tfoot>
        <tr >
            <td colspan="{{colspan}}" class="DTTTFooter ">
                <div class="col-sm-2">
                    <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite"> {{(list.PageIndex-1)*list.PageSize+1}} - {{(list.PageIndex-1)*list.PageSize+length}} / {{list.Total}} </div>
                </div>
                <div class="col-sm-10 ">
                    <div class="dataTables_paginate paging_bootstrap " id="simpledatatable_paginate">
                        <ul class="pagination">
                            <li class="prev " v-bind:class="{ 'disabled': list.IsFirst }"><a href="javascript:void(0)" v-on:click="query( list.FirstPage) "><<</a></li>
                            <li class="prev " v-bind:class="{ 'disabled': list.IsFirst }"><a href="javascript:void(0)" v-on:click="query(list.IsFirst?list.FirstPage:list.PageIndex-1) "><</a></li>
                            <li v-for="item in list.ShowIndex" v-bind:class="{ 'active': list.PageIndex===item }">
                                <a href="javascript:void(0)" v-on:click="query(item) ">{{item}}</a>
                            </li>
                            <li class="next " v-bind:class="{ 'disabled': list.IsLast }"><a href="javascript:void(0)" v-on:click="query(list.IsLast?list.LastPage:list.PageIndex+1) ">></a></li>
                            <li class="next " v-bind:class="{ 'disabled': list.IsLast }"><a href="javascript:void(0)" v-on:click="query(list.LastPage) ">>></a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</template>
<script src="~/Scripts/templates.js"></script>
