<%-- 
Name:
Author: 
Description: 
--%>
<%@ Template Language="C#" TargetLanguage="c#"  Debug="True" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="基本信息" Description="Table that the object is based on." %>
<%@ Property Name="ClassNamespace" Type="System.String" Category="基本信息" Default="TAF.Web" Description="" %>
<%@ Property Name="Description" Type="System.String" Category="基本信息" Default="TAF.Web" Description="" %>
<%@ Assembly Name="System.ComponentModel"  %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="TAF.Utility"  Path="d:\WorkStation\TAF\TAF.Utility\bin\Release"%>
<%@ Assembly Name="TAF.Business"  Path="d:\WorkStation\TAF\TAF.Business\bin\Release"%>
<%@ Assembly Name="TAF.MVC"  Path="d:\WorkStation\TAF\TAF.Web.Core\bin\Release"%>
<%@ Assembly Src="Common.cs" %>
<%@ Import Namespace="TAF" %>  
<%@ Import Namespace="TAF.Utility" %>  
<%@ Import Namespace="TAF.Utility" %>  
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="SchemaMapper" %>
<%@ Import Namespace="System" %> 
<%@ Import Namespace="System.Linq" %> 
<%@ Import Namespace="System.Reflection" %> 
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Map Name="SqlCSharp" Src="Sql-CSharp" Description="System to C# Type Map" %>
<%@ Map Name="DbDataReader" Src="DbType-DataReaderMethod" Description="DbType to DataReader Method Map" %>
<%@ Map Name="SqlNativeSqlDb" Src="SqlNativeType-SqlDbType" Description="SqlNativeType to SqlDbType Map" %>
<%@ Map Name="DbTypeCSharp" Src="DbType-CSharp" Description="DbType to CSharp Map" %>

// --------------------------------------------------------------------------------------------------------------------
// <copyright file="<%=Common.GetClassName(SourceTable)%>Controller.cs" author="何翔华">
//   
// </copyright>
// <summary>
//   <%=Description%>
// </summary>
// --------------------------------------------------------------------------------------------------------------------

using System;
using System.Linq;
using System.Web.Mvc;

namespace <%=ClassNamespace %>.Controllers
{

    using TAF.Mvc;
    using TAF.Utility;
    using <%=ClassNamespace %>.Models;

    /// <summary>
    /// <%=Description%>
    /// </summary>
    [Authorize]
    public class <%=Common.GetClassName(SourceTable)%>Controller : BaseController<<%=Common.GetClassName(SourceTable)%>, <%=Common.GetClassName(SourceTable)%>ItemView, <%=Common.GetClassName(SourceTable)%>ListView>
    {
    <%if(ColumnContainsGuid(SourceTable)){%>
        public override ActionResult Index()
        {
            var model = "";//绑定下拉列表集合
            return PartialView("_Index", model);
        }
    
    <%}%> 
        public ActionResult List(<%=Common.GetClassName(SourceTable)%>QueryView query, int pageIndex, int pageSize = 20)
        {
            Func<<%=Common.GetClassName(SourceTable)%>,bool> func = r => 
            <%=GetQueryFunc()%>

             return base.Pager(pageIndex, pageSize, func, r => r.CreatedDate);
        }
        
        public ActionResult Save(<%=Common.GetClassName(SourceTable)%>ItemView item)
        {
            return this.Update(item);
        }
    }
}




<script runat="template">

    /// <summary>
    /// 获取C#类型
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    private  string GetCSharpVariableType(ColumnSchema column)
    {
        if (column.Name.EndsWith("TypeCode")) return column.Name;
        return DbTypeCSharp[column.DataType.ToString()];
    }


    /// <summary>
    /// 列是否是Guid
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    public  bool ColumnIsGuid(ColumnSchema column)
    {
       string type= GetCSharpVariableType(column) ;
        return type.StartsWith("Guid") ;
    }

    /// <summary>
    /// 列是否是数字
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    private bool ColumnIsNumber(ColumnSchema column)
    {
       string type= GetCSharpVariableType(column) ;
        return type=="int" ||type=="double"||type=="decimal";
    }
    
    /// <summary>
    /// 列是否是日期
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    private bool ColumnIsDateTime(ColumnSchema column)
    {
       string type= GetCSharpVariableType(column) ;
        Debug.Write(type=="DateTime");
        return type.StartsWith("DateTime") ;
    }
    
    /// <summary>
    /// 列是否是Guid
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    private bool ColumnContainsGuid(TableSchema table)
    {
        var result=false;
       foreach (var column in table.Columns)
       {
           if(ColumnIsGuid(column))result=true;
       }
       return result;
    }
    
    /// <summary>
    /// 获取查询字符串
    /// </summary>
    /// <param name="column"></param>
    /// <returns></returns>
    public  string GetQueryFunc()
    {
       var funStr="";
       foreach(var item in SourceTable.Columns.Where(r=>!Common.IsSystemProperty(r))){
           if(ColumnIsGuid(item)){
               if(!item.AllowDBNull){
                   funStr+="\t\t\t && "+"(query."+item.Name+"==new Guid()||query."+item.Name+"== r."+item.Name+")\r\n" ;
               }else{
                  funStr+="\t\t\t && "+"(!query."+item.Name+".HasValue||query."+item.Name+" ==new Guid()||query."+item.Name+"== r."+item.Name+")\r\n" ; 
               }               
           }else if(ColumnIsNumber(item)){
               funStr+="\t\t\t && "+" (query."+item.Name+"==0|| r."+item.Name+"== query."+item.Name+")\r\n";
           }else if(ColumnIsDateTime(item)){
               funStr+="\t\t\t && "+"((query."+item.Name+"From==query."+item.Name+"To && query."+item.Name+"To== DateTime.Today)\r\n" ; 
               funStr+="\t\t\t || "+"(query."+item.Name+"From==new DateTime(1, 1, 1) || query."+item.Name+"From<= r."+item.Name+")\r\n" ; 
               funStr+="\t\t\t && "+"(query."+item.Name+"To==new DateTime(1, 1, 1) || query."+item.Name+"To>= r."+item.Name+"))\r\n" ; 
           } else {
               funStr+="\t\t\t && "+"(string.IsNullOrWhiteSpace(query."+item.Name+")||(!string.IsNullOrWhiteSpace(query."+item.Name+") && r."+item.Name+".Contains(query."+item.Name+".ToStr())))\r\n";
           }
       }
       funStr=funStr.ReplaceFirst("\t\t\t &&","").ReplaceLast("\r\n",";");
       return funStr;
    }

</script>